.pagination {
  display: flex;
  justify-content: center;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: var(--color-grey);
  font-size: 1rem;
}
ul.pagination li.active a,
ul.pagination li a:hover,
ul.pagination li a.active {
  color: var(--color-black);
}
