.contents {
  max-height: 80%;
  overflow: hidden;
}
.title {
  font-weight: 800;
  font-size: 2.2vh;
}
.info p {
  font-weight: 200;
  padding: 0.3vh 0;
  font-size: 1.5vh;
}
.call_number {
  font-size: 2.6vh;
  font-weight: 300;
}
.email {
  font-weight: 500;
  font-size: 1.5vh;
}
.cosulting_apply_btn {
  width: 100%;
  font-weight: 800;
  height: 4.13vh;
  border-radius: 10px;
}
