.banner_swiper {
  --swiper-navigation-color: var(--color-black);
  --swiper-navigation-size: 20px;
  font-weight: bold;
}

.banner_wrapper {
  width: 100%;
  height: 13.75rem;
}
.banner_img {
  width: 100%;
  height: 100%;
}
