.contents_wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

/*left contents */
.contents_left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.thumb {
  width: 245px;
  height: 240px;
}
.thumb > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.content {
  font-size: 0.75rem;
  white-space: normal;
  /*세줄까지만 허용*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*boundary line*/
.boundary {
  width: 1px;
  height: 100%;
  background-color: var(--color-grey);
}

/*right contents*/

.contents_right {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.news {
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-around;
}

.news:hover {
  color: var(--color-red);
}
.news.active {
  color: var(--color-red);
}

.news_title {
  font-size: 1.125rem;
  font-weight: 800;
  /*두줄까지만 허용*/
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news_date {
  font-size: 0.875rem;
}

.news_list {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.news_horizon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12.5px;
}
