.card_wrap {
  width: 350px;
  height: 69vh;
  padding: 2.7vh;
  box-shadow: -10px 10px 20px -4px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -10px 10px 20px -4px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -10px 10px 20px -4px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  position: relative;
}

.title {
  width: 350px;
  height: 9.25vh;
  transform: translateX(-65px);
  position: relative;
  border-radius: 0px 20px 20px 0px;
  box-shadow: -1px 6px 4px -1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: -1px 6px 4px -1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -1px 6px 4px -1px rgba(0, 0, 0, 0.21);
  color: var(--color-white);
  font-size: 3.1vh;
  font-weight: bold;
}
.title_desc {
  height: 6.48vh;
  display: flex;
  flex-direction: column;
  font-weight: 200;
}
.title_desc > span {
  font-weight: bold;
}

.title:after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid var(--bg_color);
  border-left: 20px solid transparent;
  border-right: 20px solid var(--bg_color);
  width: 0px;
  height: 0px;
}

.contents {
  width: 100%;
  min-height: 11.1vh;
  margin: 10px 0;
}
.content_title {
  font-weight: 800;
  font-size: 1rem;
  margin: 5px 0;
}

.content li {
  list-style: disc;
  font-size: 0.875rem;
}
