.ass_btn {
  width: 100%;
  height: 100%;
  padding: 1.1rem;
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
  border: 0.5px solid #e4e4e4;
  font-weight: 800;
}
.ass_name {
  word-break: keep-all;
  max-width: 85px;
}

.ass_icon {
  width: 51px;
  height: 51px;
}

.ass_btn img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
