.network_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
  margin: 15px 0;
}
.network_logo {
  width: 165px;
  height: 110px;
  border-radius: 10px;
  border: 1px solid var(--color-grey);
}
.network_logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.network_desc {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-left: 30px;
}

.network_name {
  font-size: 1.25rem;
  font-weight: 700;
}

.network_detial {
  width: 100%;
  font-size: 0.938rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.network_btn {
  width: 100px;
  height: 32px;
  padding: 5px 35px;
  border: 1px solid var(--color-grey);
  color: var(--color-grey);
  transition: all 300ms ease;
  border-radius: 10px;
}

.network_btn:hover {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}
