.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.react-horizontal-scrolling-menu--inner-wrapper {
  width: 1380px;
  height: 51.7vh;
  align-items: center;
}

.react-horizontal-scrolling-menu--arrow-right button,
.react-horizontal-scrolling-menu--arrow-left button {
  font-size: 2.5rem;
}
