.page_wrapper {
  overflow: hidden;
  background-color: var(--color-white);
  display: flex;
  padding-top: 3rem;
  align-items: center;
  height: 100%;
}

.logo_header {
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
  width: 100vw;
  margin-bottom: 20px;
  color: var(--color-black);
  text-align: center;
}

.logo_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.logo_bundle {
  display: flex;
  flex-direction: column;
}
.logo_img {
  width: 270px;
  height: 80px;
  margin: 10px 30px;
}
.logo_img img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
