.subPage_wrap {
  height: 100vh;
  padding-top: 5rem;
  width: 100vw;
  overflow-x: hidden;
}
.page_title {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 2.25rem;
  font-weight: 600;
}
.page_content {
  height: 100%;
  background-color: var(--color-white);
  width: 100%;
  padding: 50px 0;
  padding-left: 350px;
  padding-right: 16.66vw;
}
.btn_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.write_btn {
  color: var(--color-white);
  background-color: var(--color-black);
  height: 45px;
  border-radius: 10px;
  width: 150px;
}
