.subPage_wrap {
  height: 100%;
  padding-top: 5rem;
  width: 100vw;
  overflow-x: hidden;
}
.page_title {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 2.25rem;
  font-weight: 600;
}
.eng_title {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
}
.page_content {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  min-height: calc(100vh - 200px - 5rem);
  padding: 50px 0;
  padding-left: 350px;
  padding-right: 16.66vw;
}
.btn_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.write_btn {
  color: var(--color-white);
  background-color: var(--color-black);
}

.delete_btn {
  color: var(--color-white);
  background-color: var(--color-red);
}

.btn {
  height: 45px;
  border-radius: 10px;
  width: 150px;
  margin: 0 10px;
  transition: all 300ms ease;
}

.btn:hover {
  filter: brightness(1.2);
  transform: scale(1.015);
}
