.post_ui {
  width: 500px;
  height: 100px;
  cursor: pointer;
  transition: all 300ms ease;
}

.post_ui img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.radio_index {
  left: -20px;
  width: 30px;
  top: 0;
  z-index: 10;
  height: 30px;
  position: absolute;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 30px;
}
