.nav_wrapper {
  padding: 35px 50px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  justify-content: space-between;
  animation: slideUp 1s var(--ease-out-quint);
  transform-origin: 50% 0;
  box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.3);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 70vw;
  height: 100%;
  max-width: 1000px;
}

.cate_area {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active li {
  transition: all 300ms ease;
  color: var(--color-red);
  font-weight: bold;
}

a .category {
  color: black;
  padding: 0.313rem 0;
  font-weight: 500;
  width: 9.3vw;
}
a .category:hover {
  transition: all 300ms ease;
  color: var(--color-red);
  font-weight: bold;
}

.left {
  width: 8vw;
  min-width: 7rem;
}

.right {
  display: flex;
  position: relative;
}

.space_search {
  min-width: 9rem;
  width: 10vw;
}

.space_lang {
  width: 9vw;
  min-width: 7rem;
}

@keyframes slideUp {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(100%);
  }
}
