.nav_wrapper {
  padding: 21px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  animation: slideUp 1s var(--ease-out-quint);
  z-index: -1;
  transform-origin: 50% 0;
  box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.3);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.cate_area {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active li {
  transition: all 300ms ease;
  color: var(--color-red);
  font-weight: bold;
}
.category {
  color: black;
  padding: 0.313rem 0;
  width: 10rem;
}

.category:hover {
  transition: all 300ms ease;
  color: var(--color-red);
  font-weight: bold;
}

.left {
  width: 8.563rem;
  min-width: 8.563rem;
}

.right {
  display: flex;
  align-items: center;
}

.space_search {
  width: 10.625rem;
  min-width: 10.625rem;
}

.space_lang {
  width: 120px;
  min-width: 120px;
}

@keyframes slideUp {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(100%);
  }
}
