.page_wrapper {
  overflow: hidden;
  background-color: var(--color-white);
  display: flex;
  padding-top: calc(5rem + 4.96vh);
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.accelerating_wrap {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 950px;
}
.tab_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.wrap {
  height: 72vh;
}
