.radio_label {
  transition: all 300ms ease;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 0px solid var(--color-lightgrey);
}

.radio_header {
  font-weight: 800;
  text-align: center;
  font-size: 1.25rem;
}
.header_desc {
  font-size: 0.8rem;
  font-weight: 200;
  padding: 5px 0;
}
