.accelerating_btn {
  width: 280px;
  height: 45px;
  border-radius: 25px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
  transition: all 300ms ease;
}
.accelerating_btn:hover,
.accelerating_btn.active {
  background-color: var(--color-black);
  color: var(--color-white);
}
