.portfolio_wrap {
  width: 300px;
  height: 270px;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  padding: 20px;
}
.logo {
  width: 100%;
  height: 100px;
}
.logo img {
  object-fit: contain;
  width: 134px;
  height: 100%;
}
.invest_info {
  width: 100%;
  height: 90px;
}
.invest_name {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: 800;
  font-size: 1.25rem;
}
.summary {
  margin: 10px 0;
  font-size: 0.875rem;

  /*세줄까지만 허용*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.button {
  flex-wrap: wrap;
  font-size: 0.75rem;
  background-color: var(--color-lightgrey);
  border-radius: 5px;
  min-width: 40px;
  height: 20px;
  padding: 5px 10px;
  margin: 2.5px;
}
