.intro_header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
}

.header_item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
  border-top: 1px solid var(--color-grey);
  border-left: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  transition: all 300ms var(--ease-out-quint);
}
.header_item:last-child {
  font-size: 20px;
  width: 50%;
  font-weight: 200;
}

.header_item:hover,
.header_item.active {
  background-color: var(--color-white);
  color: var(--color-black);
}
