/* 글쓰기 에 포함된 레이아웃에 관련된 css입니다.*/

/* toggle ui css*/
.toggle_ui {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 10px 0;
}
.toggle_prefix {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.toggle_plus {
  width: 30px;
  height: 30px;
}
.toggle_label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.toggle_label * {
  cursor: pointer;
}
.toggle_prefix img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.toggle_title {
  font-weight: 600;
  font-size: 1.4rem;
}

.toggle_content {
  font-family: pretendard;
  padding: 1rem;
  overflow: auto;
  background-color: #f8f8f8;
  border-radius: 10px;
}
.toggle_checkbox {
  display: none;
}

.toggle_checkbox:checked + .toggle_label + .toggle_content {
  display: none;
}
p a {
  color: #2f97db;
  border-bottom: 1px solid #2f97db;
}
.toggle_content {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-top: 20px;
  animation: slideUp 300ms;
}

/* photocard ui css*/

.photocard {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  min-height: 230px;
  overflow: hidden;
}

.photocard_img {
  width: auto;
  height: 190px;
  display: flex;
  align-items: center;
}
.photocard_img img {
  object-fit: contain;
}
.photocard_caption {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postcard_text {
  overflow: auto;
}
.photocard_textwrap {
  padding: 1rem;
}
@keyframes slideUp {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(100%);
  }
}
