.scroll {
}

.name.line::before {
  /*여기다 선그어야딩*/
}
.scroll.active .name {
  color: var(--color-red);
}
.name {
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease;
}
.name:hover {
  color: var(--color-red);
  font-size: 1.1rem;
}

.menu_wrapper {
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 101;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 120px;
  user-select: none;
}
