.contents_wrap {
  padding: 30px;
  width: 100%;
}
.content_wrap {
  margin-top: 2rem;
  width: 90%;
  height: 100%;
  line-height: 1.5rem;
}

.title {
  font-weight: 800;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.title svg {
  color: var(--color-red);
}
