.select_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0;
}

.select {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
}
.option {
  font-weight: 600;
  color: var(--color-black);
}
.sub_option {
  color: var(--color-darkgrey);
}
