.edit_btn {
  position: absolute;
  background-color: var(--color-red);
  width: 40px;
  height: 40px;
  right: 0;
  font-size: 1.2rem;
  color: var(--color-white);
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
  animation: slideFadeUp 600ms;
}

.submit_btn {
  background-color: var(--color-red);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-white);
}

@keyframes slideFadeUp {
  from {
    transform: translateY(15px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
