.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 30;
  transition: all 300ms ease;
}

.nav_wrapper {
  padding: 21px 50px;
  width: 100%;
  height: 100%;
  transition: all 700ms var(--ease-out-quint);
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
}

.nav_wrapper.active_sub {
  animation: fadein 300ms;
  background-color: var(--color-white);
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
}

.line.active_sub {
  background-color: var(--color-grey);
}

.nav {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 4rem;
  justify-content: flex-end;
  width: 70vw;
  max-width: 1000px;
  color: var(--color-white);
}
.space_nav {
  width: 100%;
  height: 4rem;
}
.sub_nav:nth-child(1) {
  padding-left: 20px;
}

.nav_item {
  font-weight: bold;
  color: var(--color-white);
  height: 80px;
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.nav_item > p::after {
  display: block;
  content: '';
  width: 0%;
  height: 2px;
  background: var(--color-red);
  position: absolute;
  left: 22%;
  bottom: 0;
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
  z-index: 11;
}
.nav_item > p {
  font-size: 1.125rem;
  width: 9.3vw;
}
.nav_item > p:hover {
  color: var(--color-red);
  transition: all 300ms ease;
  font-size: 1.25rem;
}
.nav_item > p:hover::after {
  width: 50%;
}

.nav_logo {
  width: 8vw;
  min-width: 7rem;
}

.nav_logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.search_wrapper {
  position: relative;
}
.search {
  min-width: 9rem;
  width: 10vw;
  height: 40px;
  border-radius: 50px;
  padding: 0 27px 0 12px;
  border: 1px solid var(--color-grey);
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.search:focus {
  outline: none;
}

.search_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-grey);
  font-size: 1rem;
}

.language_wrapper {
  min-width: 7rem;
  width: 9vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.language {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.boundary {
  padding: 5px;
  color: var(--color-white);
}

.nav_item.active_sub,
.language_wrapper.active_sub > * {
  color: var(--color-black);
}

.languages:focus {
  border: none;
  outline: none;
}

.nav_item.selected {
  color: var(--color-red);
  transition: all 300ms ease;
  font-size: 1.25rem;
}
.nav_item.selected > p::after {
  width: 50%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
