.form_wrap {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  top: 100px;
  padding: 1rem;
  width: 350px;
  background-color: #e4e6e9;
  height: calc(100vh - 100px);
}
