.page_wrapper {
  overflow: hidden;
  background-color: var(--color-white);
  display: flex;
  padding: 3rem;
  justify-content: center;
  height: 100%;
}

.contents_wrapper {
  width: 1300px;
  height: 750px;
}

.search {
  display: flex;
}

.search_input {
  width: 100%;
  border: 1px solid var(--color-grey);
  padding: 0 35px;
  margin-right: 30px;
  height: 50px;
  width: 1070px;
  border-radius: 10px;
  font-size: 1.125rem;
}
.search_input {
  border-radius: 10px;
}

.search_btn {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.sector_btn {
  min-width: 96px;
  max-width: 112px;
  font-size: 0.938rem;
  font-weight: 600;
  height: 35px;
  margin: 3px;
  border-radius: 10px;
  background-color: #eeeeee;
}
