.page_wrapper {
  overflow: hidden;
  background-color: var(--color-white);
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contents_wrapper {
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  justify-content: space-between;
  width: 1250px;
  height: 858px;
}

.search {
  display: flex;
}

.search_input {
  width: 100%;
  border: 1px solid var(--color-grey);
  padding: 0 35px;
  margin-right: 30px;
  height: 45px;
  width: 1070px;
  border-radius: 10px;
  font-size: 1.125rem;
}
.search_input {
  border-radius: 10px;
}

.search_btn {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 200px;
  height: 45px;
  border-radius: 10px;
}
.sector {
  display: flex;
}
.sector_btn {
  min-width: 96px;
  max-width: 112px;
  font-size: 0.938rem;
  font-weight: 700;
  height: 30px;
  margin: 3px;
  border-radius: 7px;
  background-color: #eeeeee;
  transition: all 200ms ease;
}

.sector_btn:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  transform: scale(1.02);
}

.portfolio_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
