/*setting layout */

.page_wrapper {
  margin-top: calc(5rem + 3.125rem);
  height: calc(100vh - 5rem);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main_container {
  width: 1300px;
  height: 790px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  height: 100%;
  width: 870px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

.banner {
  width: 100%;
  height: 20.37vh;
  /*height: 13rem*/
  background-color: var(--color-white);
}
.main_intro {
  width: 100%;
  /* height: 33.75rem; */
  height: 540px;
  border-radius: 10px;
  background-color: var(--color-white);
  overflow: hidden;
}

.right {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.call_info {
  position: relative;
  width: 100%;
  height: 220px;
  border-radius: 10px;
  background-color: var(--color-black);
  border: 1px solid var(--color-grey);
  color: var(--color-white);
  padding: 1.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company_ass {
  background-color: var(--color-white);
  overflow: hidden;
  height: 195px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.etc_info {
  width: 100%;
  height: 185px;
}

.map_info {
  height: 125px;
  border-radius: 10px;
  border: 1px solid var(--color-grey);
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: 1.875rem;
  align-items: center;
  cursor: pointer;
}

/* contents css*/
.intro_header {
  width: 100%;
  height: 50px;
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
}

.header_item {
  width: 100%;
  color: var(--color-white);
  cursor: pointer;
  border-top: 1px solid var(--color-grey);
  border-left: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  transition: all 300ms var(--ease-out-quint);
}

.header_item:hover,
.header_item.active {
  background-color: var(--color-white);
  color: var(--color-black);
}

.intro_contents {
  height: 480px;
}
.call_info > h1 {
  font-weight: 800;
  font-size: 1.25rem;
}
.call_info p {
  font-weight: 200;
  padding: 0.2rem 0;
  font-size: 0.875rem;
}
.call_number {
  font-size: 1.875rem;
  font-weight: 300;
}
.email {
  font-weight: 500;
}
.cosulting_apply_btn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.ass_btn {
  width: 50%;
  height: 50%;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #e4e4e4;
  font-weight: 800;
}
.ass_name {
  word-break: keep-all;
}
.etc_button_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.etc_btn {
  padding: 1% 5%;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--color-grey);
  font-weight: 800;
  font-size: 1.25rem;
  transition: all 200ms ease;
}

.etc_btn:hover {
  opacity: 0.9;
}
.etc_icon {
  height: 2.5rem;
  margin-right: 1rem;
}
.etc_icon img {
  width: 100%;
  height: 100%;
}
.map_info span {
  font-size: 1.25rem;
  font-weight: 700;
}
.map_info p {
  font-size: 0.875rem;
  font-weight: 200;
  padding: 0.5rem 0;
}
