/*setting layout */

.page_wrapper {
  padding-top: 8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main_container {
  width: 1300px;
  height: 790px;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  height: 100%;
  width: 870px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

.banner {
  position: relative;
  width: 100%;
  height: 220px;
  /*height: 13rem*/
  background-color: var(--color-white);
}
.main_intro {
  width: 100%;
  /* height: 33.75rem; */
  height: 540px;
  border-radius: 10px;
  background-color: var(--color-white);
  overflow: hidden;
}

.right {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.call_info {
  position: relative;
  width: 400px;
  height: 220px;
  border-radius: 10px;
  background-color: var(--color-black);
  border: 1px solid var(--color-grey);
  color: var(--color-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.infos {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company_ass {
  background-color: var(--color-white);
  overflow: hidden;
  height: 195px;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.etc_info {
  width: 100%;
  height: 185px;
  position: relative;
}

.map_info {
  height: 125px;
  border-radius: 10px;
  border: 1px solid var(--color-grey);
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: 1.875rem;
  align-items: center;
  cursor: pointer;
}

/* contents css*/
.intro_contents {
  height: 480px;
}
.map_info span {
  font-size: 1.25rem;
  font-weight: 700;
}
.map_info p {
  font-size: 0.875rem;
  font-weight: 200;
  padding: 0.5rem 0;
}
