.nav_wrap {
  position: absolute;
  left: 0;
  top: 20%;
  height: 38.75rem;
  width: 100%;
  max-width: 19.375rem;
}
.nav_title {
  width: 100%;
  height: 9.375rem;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  color: white;
  font-size: 2.25rem;
  border-radius: 10px;
  font-weight: bold;
}
.nav {
  display: flex;
  flex-direction: column;
  padding-left: 3.125rem;
  padding-top: 1.875rem;
}
.nav_item {
  color: var(--color-black);
  height: 3.438rem;
  border-bottom: 1px solid var(--color-grey);
  display: flex;
  padding: 0 1.25rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.125rem;
  transition: all 200ms ease-in;
}

.nav_item:hover {
  color: var(--color-red);
  border-bottom: 1px solid var(--color-red);
  font-size: 1.15rem;
}

.nav_item.active {
  color: var(--color-red);
  border-bottom: 1px solid var(--color-red);
  font-size: 1.15rem;
}
