.nav_wrap {
  height: auto;
  width: 100%;
  transform: translateY(-70px);
  max-width: 19.375rem;
}
.nav_title {
  width: 100%;
  height: 9.375rem;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  color: white;
  font-size: 2.25rem;
  border-radius: 10px;
  font-weight: bold;
}
.nav {
  display: flex;
  flex-direction: column;
  padding-left: 3.125rem;
  align-items: flex-end;
  background-color: var(--color-white);
  padding-top: 1.875rem;
}

.subnav_sub {
  width: 80%;
  animation: slideUp 500ms var(--ease-out-quint);
  transform-origin: 50% 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.subnav_sub_sub {
  width: 80%;
}

@keyframes slideUp {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(100%);
  }
}
