:root {
  --color-red: #d7000e;
  --color-darkgrey: #727272;
  --color-grey: #cccccc;
  --color-black: #2c3540;
  --color-white: white;

  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  margin: 0;
  font-family: pretendard, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  background-size: cover;
  background-image: url(./assets/Background.png);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: white;
}

button {
  outline: none;
  border: none;
  font-family: pretendard, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--color-white);
  cursor: pointer;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*header active setting*/

.active > li {
  color: var(--color-red);
  font-weight: bold;
}

::-webkit-scrollbar {
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-darkgrey);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-red);
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
