:root {
  --color-red: #d7000e;
  --color-darkgrey: #727272;
  --color-lightgrey: #eeeeee;
  --color-grey: #cccccc;
  --color-black: #2c3540;
  --color-white: white;

  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  margin: 0;
  font-family: pretendard, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
}

.page_background {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/dprbw1pa0/image/upload/v1674714968/iskan9xlmkm8lbbco7lb.png');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: white;
}
input {
  border: none;
  font-family: pretendard, sans-serif;
}

input:focus {
  outline: none;
}
input[type='file']::file-selector-button {
  width: 70px;
  height: 25px;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 5px;
  font-size: 0.7rem;
  border: none;
}
button,
select {
  outline: none;
  border: none;
  font-family: pretendard, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--color-white);
  cursor: pointer;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*header active setting*/

.active > li {
  color: var(--color-red);
  font-weight: bold;
}

.subnav_nav_items {
  color: var(--color-black);
  height: 3.438rem;
  border-bottom: 1px solid var(--color-grey);
  display: flex;
  padding: 0 1.25rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.125rem;
  transition: all 200ms ease-in;
  width: 100%;
}

.subnav_nav_items:hover,
.subnav_nav_items.active {
  color: var(--color-red);
  border-bottom: 1px solid var(--color-red);
  font-size: 1.15rem;
}

.subnav_small {
  height: 3rem;
  font-size: 0.9rem;
  justify-content: space-end;
}
.subnav_small_sub {
  height: 2.5rem;
  font-size: 0.87rem;
}
.subnav_small:hover,
.subnav_small.active {
  font-size: 0.92rem;
}
.subnav_small_sub:hover,
.subnav_small_sub.active {
  font-size: 0.9rem;
}

.subnav_rightbtn {
  display: none;
}

.subnav_nav_items.active > .subnav_rightbtn {
  display: block;
}

::-webkit-scrollbar {
  border-radius: 10px;
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-track {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
  border: 0;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-darkgrey);
}

.scene-container {
  height: 98vh !important;
}
