:root {
  --color-red: #d7000e;
  --color-darkgrey: #727272;
  --color-grey: #cccccc;
  --color-black: #2c3540;
  --color-white: white;

  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  background-image: url(./assets/Background.png);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-darkgrey);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-red);
}
