.bg_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
}
.back_area {
  position: inherit;
  width: 100%;
  height: 100%;
}
.modal_wrap {
  width: 500px;
  height: 300px;

  background-color: var(--color-white);
  border-radius: 10px;
  z-index: 21;
}
