.page_wrapper {
  overflow: hidden;
  background-color: var(--color-white);
  display: flex;
  padding: 3rem;
  height: 100%;
}

.content_wrap {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.globe_wrap {
  width: 650px;
}

.scene-container {
  width: 650px;
}

.left_wrap {
  width: 500px;
  overflow: hidden;
}

.right_wrap {
  width: 550px;
  background-color: red;
}
