.page_wrapper {
  overflow: hidden;
  background-color: var(--color-white);
  display: flex;
  padding: 3rem;
  justify-content: center;
  height: 100%;
}

.content_wrap {
  width: 1350px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.globe_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nations_globe_wrap {
  width: 650px;
  overflow: hidden;
  background-color: red;
}

.nations_networklist_wrap {
  width: 600px;
  background-color: red;
}
