.globe_wrap {
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.nationInfo_wrap {
  position: absolute;
  top: 20px;
  right: -280px;
  width: 300px;
  height: 160px;
  border-radius: 10px;
  padding: 1rem;
  cursor: auto;
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--color-black);
  box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.233);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flag {
  width: 95px;
  height: 65px;
}

.flag img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.nation_info {
  display: flex;
  align-items: center;
}

.nation_name {
  font-size: 1.25rem;
  margin-left: 10px;
  font-weight: 800;
}
.nation_btn {
  background-color: var(--color-white);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  height: 32px;
  transition: all 300ms ease;
}

.nation_btn:hover {
  font-size: 1.03rem;
  font-weight: bold;
  border: 1px solid var(--color-grey);
}
.nation_network_length {
  color: var(--color-red);
  font-weight: bold;
}
