.admin_wrap {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-white);
}
.text_area {
  width: 100%;
  height: calc(100% - 50px);
}

.header_temp {
  height: 50px;
  width: 100%;
  background-color: var(--color-grey);
}

.cate_selector {
  width: 100%;
  height: 250px;
}

.content_info {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 100px;
  padding: 1rem;
  width: 350px;
  background-color: #e4e6e9;
  height: calc(100vh - 100px);
}
.select_wrap {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.label {
  font-weight: bold;
  margin: 10px;
}

.select {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
}

.submit_btn {
  color: var(--color-white);
  background-color: var(--color-black);
  width: 100%;
  height: 45px;
  border-radius: 10px;
}

.select option {
}
