.tox-tinymce {
  border: none;
}
.tox-toolbar__primary {
  width: 100%;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  border-bottom: 1px solid var(--color-grey);
}
#text-area {
  height: calc(100vh - 50px);
}
.tox-sidebar-wrap {
  width: 1000px !important;
  box-shadow: 0px -3px 14px 0px rgba(0, 0, 0, 0.15) !important ;
  -webkit-box-shadow: 0px -3px 14px 0px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0px -3px 14px 0px rgba(0, 0, 0, 0.15) !important;
  margin: 0 auto !important;
}
.tox-tinymce {
  height: calc(100vh - 50px) !important;
  overflow: hidden;
}

iframe {
  overflow: hidden;
}
.tox .tox-edit-area__iframe {
  overflow: scroll;
}
